<div class="page-header">
  <h1>User#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= usersPath() %>" class="btn btn-info">Back to all Users</a></li>
  <li class="list-inline-item"><a href="<%= editUserPath({ user_id: user.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a data-target="<%= userPath({ user_id: user.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= user.Name %>
</p>
<p>
  <strong>Meta</strong>: <%= user.Meta %>
</p>
<p>
  <strong>Provider</strong>: <%= user.Provider %>
</p>
<p>
  <strong>ProviderID</strong>: <%= user.ProviderID %>
</p>
<p>
  <strong>Email</strong>: <%= user.Email %>
</p>
